/* ta02.css */

.div-first {
	background-color: #00BCD4;
	font-size: 2em;
}

.div-later {
	font-size: 0.7em;
}

#body {
	background-color: #018E0E;
}

#h1 {
  font-weight: bold;
  font-size: 5em;
  text-align: center;
}

#imgp {
    text-align: center;
}

imgp:hover{
  display: block;
}

#img1 {
  width: 700px;
  height: 325px;

}

#div2 {
	background-color: #4DD0E1;
}

#div3 {
	background-color: #B2EBF2;
}

.hover-bold:hover {
	font-weight: bold;
}
