/* ta02.css */


#body {
	background-color: #018E0E;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: none;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #018E0E;
}

#h1 {
  font-weight: bold;
  font-size: 5em;
  text-align: center;
}

#imgp {
    text-align: center;
}

imgp:hover{
  display: block;
}

#img1 {
  width: 700px;
  height: 325px;

}

#div2 {
	background-color: #333;
  font-size: 1.5em;
  color: white;
}

.hover-bold:hover {
	font-weight: bold;
}
